// @import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);


/* =Variables
----------------------------------------------------------------------------- */
$dark-blue:                #204056;
$light-blue:               #59A1C9;
$aqua:                     #39D1B4;
$salmon:                   #F65A5B;

// Grayscale
$white:                    #fff;
$black:                    #000;

.reveal slides {
  text-align: justify;
  height: 100%;
  top: 0;
  margin-top: 0;
}

.reveal p {
  text-align: left;
  font-size: 3.5vmin;
}

.reveal h1 {
  font-size: 5vmin;
}

.reveal h2 {
  font-size: 4vmin;
}

.reveal ul {
  display: block;
  width: 100%;
  font-size: 100%;
  padding-right: 10%;
}

.reveal li {
  padding-right: 15%;
  font-size: 3.5vmin;
  text-align: justify;
}

.reveal ol {
  display: block;
}

.reveal h1.title {
  padding-top: 10%;
  text-align: center;
  font-size: 8vmin;
}

.reveal h3.date { 
  font-size: 6vmin;

}

.reveal h2.author {
  font-size: 6vmin;
}

.reveal div#header {
  overflow: auto;
}

.reveal hr.style1 { 
  background-color: red;
  height: 1px; 
  border: 0;
  max-width: 100%;
  position: relative;
  margin: 30px auto;
} 

.reveal hr.style2{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.reveal hr.style7 {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.reveal hr.style7:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

img {
  background:none; 
  border:none; 
  box-shadow:none; 
  display: block;
  width: auto;
  height: auto;
  width: 10%;
  height: 10%;
  margin: 0 auto;
  touch-action: auto;
}

.reveal section img { 
  background:none; 
  border:none; 
  box-shadow:none; 
  display: block;
  width: auto;
  height: auto;
  width: 10%;
  height: 10%;
  margin: 0 auto;
  touch-action: auto;
}